@model LibrarySystem.Models.CreateList

@{
    Layout = "_Layout1";
}

@{
    ViewBag.Title = "ViewUsers";
}

<h2>View Users</h2>
@if (TempData["delete"] != null)
{
    <br />
    <div class="row mb-3">
        <div width="100%">
            <div class='alert alert-success alert-dismissible fade show' role="alert">
                <strong>@TempData["delete"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    </div>
}


<table class="table">
<thead>
    <tr>
        <th>Name</th>
        @*<th>Email</th>*@
        <th>Password</th>
        <th>Created Date</th>
        <th>Action</th>
    </tr>
</thead> 
<tbody>
        @foreach (var item in Model.Users)
        {
                <tr>
                    <td>@item.Name</td>
                    @*<td>@item.Email</td>*@
                    <td>@item.Password</td>
                    <td>@item.CreatedAt</td>
                    <td>
                        @*<a class="btn btn-primary btn-sm" href=#> Edit</a>
                        <a class="btn btn-primary btn-sm" href=#> Delete</a>*@

                    @*@using (Html.BeginForm("EditUser", "Admin"))
                    {
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="reserved" value="@item.Reserved" />
                        <input class="btn btn-primary btn-sm" style="height:30px;width:80px" type="submit" value="Edit" />
                    }
                        <br/>*@

                    @using (Html.BeginForm("DeleteUser", "Admin"))
                    {
                        <input type="hidden" name="name" value="@item.Name" />
                        <input type="hidden" name="isborrowed" value="@item.IsBorrowed" />
                        <input type="hidden" name="isreserved" value="@item.IsReserved" />
                        
                        <input class="btn btn-primary btn-sm" style="height:30px;width:80px" type="submit" value="Delete" />
                    }

                    </td>
                </tr>
        }
    </tbody>
</table>
